* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outter {
    min-width: 28rem;
    max-width: 35rem;
    border: 1px solid rgb(225, 224, 224);
    box-shadow: 0px 1px 4px 0px rgb(0,0,0,0.2);

    padding: 1rem;
}

.result-display {
    width: 100%;
    height: 5rem;
    border: 1px solid rgb(221, 221, 221);
    font-size: 3rem;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.result-display:hover {
    box-shadow: inset 0px 1px 4px 0px rgb(0,0,0,0.2);
    border-color: rgb(187,187,187);
}

.btn {
    width: 100%;
    margin-top: 1rem;
}

.operators {
    display: flex;
    gap: 1rem;
}


.operator-sign {
    width: 100%;
    min-height: 3.5rem;
    max-height: 4rem;
    background-color: rgb(221,221,221);
    border: 1px solid rgb(187, 187, 187);
    color: rgb(119,119,119);
    cursor: pointer;
    font-size: 1.5rem;
}

.operator-sign:hover {
    box-shadow: 0px 1px 4px 0px rgb(0,0,0,0.2);
    border-color: rgb(170, 170, 170);
}

.value {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.numbers {
    width: 75%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
} 
.numbers-block {
    display: flex;
    gap: 1rem;
}

.number-btn {
    width: 100%;
    min-height: 3.5rem;
    max-height: 4rem;
    background-color: rgb(249,249,249);
    border: 1px solid rgb(221, 221, 221);
    color: rgb(119,119,119);
    cursor: pointer;
    font-size: 1.5rem;
}
.number-btn:hover {
    box-shadow: 0px 1px 4px 0px rgb(0,0,0,0.2);
    background-color: rgb(241, 241, 241);
    border-color: rgb(187, 187, 187);
}
.equal-operator {
    width: 23%;
}
.equal-operator-sign {
    width: 100%;
    height: 100%;
    background-color: rgb(77, 144, 254);
    color: rgb(249,249,249);
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}
.equal-operator-sign:hover {
    background-color: rgb(48, 124, 249);
}

@media only screen and (max-width: 450px) {
    .outter {
      min-width: 15rem;
      max-width: 20rem;
    }
    .numbers {
      width: 85%;
    }
    .number-btn, .operator-sign {
      min-height: 2rem;
      max-height: 2.5rem;
      font-size: 1rem;
    }
    .equal-operator {
        width: 24%;
    }
    .equal-operator-sign {
      font-size: 1rem;
    }
  }